
body {
    padding: 20px 20px 20px 20px;
    background-color: #FAF8F5;  
    text-align: cen;  
    font-family: 'Helvetica', sans-serif;
  
  }

/* Sidebar menu */
.sidenav {
  height: 100%; 
  width: auto; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 10px;
  overflow-x: hidden; 
  padding-top: 20px;
  padding-right: 20px;
  font-family: 'Arial', sans-serif;
}
/* Link text hover colors */
a:link {
  color:darkolivegreen;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* Heading text */
  h1 {
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;;
    font-weight: bold;
    text-align: left;
    color: #4b4945;
    padding-top: 20px;
    
  }

  h2 {
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;;
    font-weight: bold;
    text-align: left;
    color: #4b4945;
    padding-top: 20px;
    
  }

  /* Page content */
.body {
  font-family: 'Helvetica', sans-serif;
  font-size: 10px;
  color: #333;
  margin-left: 20%;
  padding: 0px;
  }

  .images5 {

    width: 20%; /* Adjust to fit 5 images (100% / 5) */
    margin: 0px;
    object-fit: cover; 
    
  }
  
  .images7 {

    width: 14.285%; /* Adjust to fit 5 images (100% / 7) */
    margin: 0px;
    object-fit: cover; 
    
  }

  .Img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    margin-bottom: 2%;
  
  }

  *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

.container {
  width: 60%;
  margin-left: 20%;
  padding-top: 20px;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}


.vid-container {
  margin-left: 20%;
  padding-top: 20px;
  justify-content: center;
}